<!DOCTYPE html>

<html>

<head>

<meta charset="utf-8">

<title>XXX_排名技术建站_网站模板设计_个人网站制作_企业网站制作</title>

<meta name="keywords" content="XXX,排名技术建站,网站模板设计,个人网站制作,企业网站制作" />

<meta name="description" content="XXX,如何建立个人网站制作_企业网站建设方案_独立个人博客模板源码程序下载哪个比较好_SEO排名技术建站cms系统制作企业网站个人网站价格_个人博客网站制作视频教学快速建站" />

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="css/base.css" rel="stylesheet">

<link href="css/m.css" rel="stylesheet">

<script src="js/jquery-1.8.3.min.js" ></script>

<script src="js/hc-sticky.js"></script>

<script src="js/aside-sticky.js"></script>

<script src="js/main.js"></script>

<!--[if lt IE 9]>

<script src="js/modernizr.js"></script>

<![endif]-->

</head>

<body>

<header>

  <div class="logo-section box">

    <div class="search">

      <form action="/e/search/index.php" method="post" name="searchform" id="searchform">

        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">

        <input name="show" value="title" type="hidden">

        <input name="tempid" value="1" type="hidden">

        <input name="tbname" value="news" type="hidden">

        <input name="Submit" class="input_submit" value="搜索" type="submit">

      </form>

    </div>

    <div class="logo"><a href="#"><img src="images/logo.png">

      <h2 class="logo-title">XXX</h2>

      <p class="logo-text">排名技术建站，让你对手追赶</p>

      </a> </div>

  </div>

  <div class="clear"></div>

  <div class="topnav">

         <h2>XXX</h2>

    <nav>



      <ul id="starlist">

        <li><a href="index.ftl">网站首页</a></li>

        <li class="menu"><a href="blog-list.html">新闻资讯</a>

          <ul class="sub">

            <li><a href="blog-list.html">资讯列表</a></li>

            <li><a href="blog-view.html">资讯内容</a></li>

          </ul>

          <span></span></li>

        <li class="menu"><a href="down-list.html">资源分享</a>

          <ul class="sub">

            <li><a href="down-list.html">下载列表</a></li>

            <li><a href="down-view.html">下载内容</a></li>

          </ul>

          <span></span></li>

        <li class="menu"><a href="pic-fm.html">图片展示</a>

          <ul class="sub">

            <li><a href="pic-list.html">图片列表</a></li>

            <li><a href="pic-list-2.html">多图列表</a></li>

            <li><a href="pic-view.html">图片内容</a></li>

          </ul>

          <span></span></li>

        <li class="menu"><a href="shop-list.html">商城中心</a>

          <ul class="sub">

            <li><a href="shop-list.html">商城列表</a></li>

            <li><a href="shop-view.html">商品详情</a></li>

          </ul>

          <span></span></li>

        <li class="menu"><a href="video-fm.html">视频教程</a>

          <ul class="sub">

            <li><a href="video-list.html">视频列表</a></li>

            <li><a href="video-view.html">视频内容</a></li>

          </ul>

          <span></span></li>

        <li><a href="wenzi-list.html">文字列表</a></li>

        <li><a href="about.ftl">关于我们</a></li>

        <li><a href="page-contact.html">联系我们</a></li>

      </ul>

    </nav>

    <h2 id="mnavh"><span class="navicon"></span></h2>

  </div>

  <div class="is-search">

    <section><i></i>请输入关键字词</section>

  </div>

  <div class="search-page">

    <div class="go-left"></div>

    <div class="search">

      <form action="/e/search/index.php" method="post" name="searchform" id="searchform">

        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">

        <input name="show" value="title" type="hidden">

        <input name="tempid" value="1" type="hidden">

        <input name="tbname" value="news" type="hidden">

        <input name="Submit" class="input_submit" value="搜索" type="submit">

      </form>

    </div>

    <div class="clear"></div>

    <div class="hot-search">

      <p>热门搜索排行</p>

      <ul class="search-paihang">

        <li><a href="/"><i>1</i>帝国</a></li>

        <li><a href="/"><i>2</i>模板</a></li>

        <li><a href="/"><i>3</i>博客</a></li>

        <li><a href="/"><i>4</i>后台</a></li>

        <li><a href="/"><i>5</i>html</a></li>

        <li><a href="/"><i>6</i>绅士</a></li>

        <li><a href="/"><i>7</i>cms</a></li>

        <li><a href="/"><i>8</i>支持</a></li>

        <li><a href="/"><i>9</i>早安</a></li>

        <li><a href="/"><i>10</i>个人</a></li>

      </ul>

    </div>

    <div class="new-search">

      <p>最新搜索排行</p>

      <ul class="search-paihang">

        <li><a href=""><i>1</i>函数</a></li>

        <li><a href="/"><i>2</i>博客程序</a></li>

        <li><a href="/"><i>3</i>解析</a></li>

        <li><a href="/"><i>4</i>红色</a></li>

        <li><a href="/"><i>5</i>告别2018</a></li>

        <li><a href="/"><i>6</i>插件</a></li>

        <li><a href="/"><i>7</i>网页布局</a></li>

        <li><a href="/"><i>8</i>云服务器</a></li>

        <li><a href="/"><i>9</i>with love for you</a></li>

        <li><a href="/"><i>10</i>评论插件</a></li>

      </ul>

    </div>

  </div>

</header>

<div class="clear blank"></div>

<article>

  <div class="blogs left-box">

    <div class="whitebg lanmu"> <i><img src="images/newspic01.jpg"></i>

      <div class="middle-inner">

        <h1>资讯列表</h1>

        <p>网站建设价格_企业网站建设方案_低费用的企业网站排名SEO技术搭建公司网站_cms网站程序模板定制让网站快速排名首页_《XXX》专业网站设计制作_打造企业官网排名竞争力</p>

        <ul class="lanmu-keywords">

          <li>网站建设</li>

          <li>企业网站</li>

          <li>公司网站建设</li>

          <li>网站建设报价</li>

          <li>网站建设公司</li>

        </ul>

      </div>

    </div>

    <div class="clear blank"></div>

    <div class="blogs-box whitebg">

      <div class="news-title"> <span class="hnav"> <a href="qiyewangzhanmuban/">企业网站模板</a><a href="qiyewangzhanzhizuo/">企业网站制作</a></span>

        <h2>资讯列表</h2>

      </div>

      <div class="blogs-list">

      

        <ul>

          <li> 

          <h2><a href="/">分享我的个人博客访问量如何做到IP从10到2000的(图文)</a></h2>

          <i><a href="/"><img src="images/pic03.jpg"></a></i>

            

            <p>我的个人博客总共展示了三个版本，界面也经历了由“简单”到“复杂”再到“简单”，颜色从“色泽单一”到“五彩斑斓”再到“局部点缀”的过程。原来一年一个版本！而每次改版的契机都是被百度惩罚！界面不要频繁更换！好好检查代码，有没有冗余、结构有没有不合理的地方。</p>

            <span><a href="/">网易博客</a><a href="/">日记</a></span> </li>

          <li> <h2><a href="/">请不要在设计这条路上徘徊啦</a></h2> <i><a href="/"><img src="images/pic04.jpg"></a></i>

           

            <p>我整理了一下网友给我的来信，如果你还在踌躇不前，不妨来看看，到底要不要坚持下去！我也欢迎大家给我来信，希望能帮到更多人。</p>

            <span><a href="/">个人博客</a><a href="/">朋友</a><a href="/">设计</a></span> </li>

          <li> <h2><a href="/">分享我的个人博客访问量如何做到IP从10到2000的(图文)</a></h2><i><a href="/"><img src="images/pic05.jpg"></a></i>

            

            <p>我的个人博客总共展示了三个版本，界面也经历了由“简单”到“复杂”再到“简单”，颜色从“色泽单一”到“五彩斑斓”再到“局部点缀”的过程。原来一年一个版本！而每次改版的契机都是被百度惩罚！界面不要频繁更换！好好检查代码，有没有冗余、结构有没有不合理的地方。</p>

            <span><a href="/">网易博客</a><a href="/">日记</a></span> </li>

          <li><h2><em>顶</em><a href="/">告别2018 耕耘才有所得，付出才有收获</a></h2> <i><a href="/"><img src="images/pic02.jpg"></a></i>

            

            <p>网站模板我更新速度是很慢的，数了一下，大概12个模板，不多，但是每一套个人博客网站模板都是我精心设计的，期间认识了很多做优化的朋友还有客户，根据他们的要求还有建议，我又做了很多调整，无论是静态模板的编写</p>

            <span><a href="/">告别2018</a><a href="/">博客日记</a><a href="/">匆匆4年</a><a href="/">网页设计</a></span> </li>

          <li><h2><a href="/">网易博客关闭，何不从此开始潇洒行走江湖！</a></h2> <i><a href="/"><img src="images/newspic01.jpg"></a></i>

            

            <p>从网易博客平台的出现，到现在已经有12个年头了，很多人还坚持着，网易博客一宣布关闭，很多人都很惋惜，那么多的文字记忆，又该如何是好？</p>

            <span><a href="/">网易博客</a><a href="/">日记</a></span> </li>

          <li>   <h2><a href="/">制作个人博客，我是这么收费的？</a></h2><i><a href="/"><img src="images/pic02.jpg"></a></i>

          

            <p>有人会以为我是"高冷型"，no，错了，我是"好好型"的，从合作开始，我们之间的关系也不仅仅只有交易，在我看来，我们会是朋友。有些微信加了很久的网友，哪怕一句话也没说过，只要我们没有互相拉黑，有时间的见证，我们亦是朋友。</p>

            <span><a href="/">个人博客</a><a href="/">朋友</a><a href="/">收费</a></span> </li>

          <li> <h2><a href="/">请不要在设计这条路上徘徊啦</a></h2> <i><a href="/"><img src="images/pic06.jpg"></a></i>

           

            <p>我整理了一下网友给我的来信，如果你还在踌躇不前，不妨来看看，到底要不要坚持下去！我也欢迎大家给我来信，希望能帮到更多人。</p>

            <span><a href="/">个人博客</a><a href="/">朋友</a><a href="/">设计</a></span> </li>

          <li> <h2><a href="/">制作个人博客，我是这么收费的？</a></h2> <i><a href="/"><img src="images/pic07.jpg"></a></i>

           

            <p>有人会以为我是"高冷型"，no，错了，我是"好好型"的，从合作开始，我们之间的关系也不仅仅只有交易，在我看来，我们会是朋友。有些微信加了很久的网友，哪怕一句话也没说过，只要我们没有互相拉黑，有时间的见证，我们亦是朋友。</p>

            <span><a href="/">个人博客</a><a href="/">朋友</a><a href="/">收费</a></span> </li>

          <li>

            <h2><a href="/">制作个人博客，我是这么收费的？（无图片显示方式）</a></h2>

            <p>有人会以为我是"高冷型"，no，错了，我是"好好型"的，从合作开始，我们之间的关系也不仅仅只有交易，在我看来，我们会是朋友。有些微信加了很久的网友，哪怕一句话也没说过，只要我们没有互相拉黑，有时间的见证，我们亦是朋友。</p>

            <span><a href="/">个人博客</a><a href="/">朋友</a><a href="/">收费</a></span> </li>

          <li> <h2><a href="/">分享我的个人博客访问量如何做到IP从10到2000的(图文)</a></h2><i><a href="/"><img src="images/pic08.jpg"></a></i>

            

            <p>我的个人博客总共展示了三个版本，界面也经历了由“简单”到“复杂”再到“简单”，颜色从“色泽单一”到“五彩斑斓”再到“局部点缀”的过程。原来一年一个版本！而每次改版的契机都是被百度惩罚！界面不要频繁更换！好好检查代码，有没有冗余、结构有没有不合理的地方。</p>

            <span><a href="/">网易博客</a><a href="/">日记</a></span> </li>

          <li> <h2><a href="/">请不要在设计这条路上徘徊啦</a></h2> <i><a href="/"><img src="images/pic09.jpg"></a></i>

           

            <p>我整理了一下网友给我的来信，如果你还在踌躇不前，不妨来看看，到底要不要坚持下去！我也欢迎大家给我来信，希望能帮到更多人。</p>

            <span><a href="/">个人博客</a><a href="/">朋友</a><a href="/">设计</a></span> </li>

          <li>  <h2><a href="/">分享我的个人博客访问量如何做到IP从10到2000的(图文)</a></h2><i><a href="/"><img src="images/pic05.jpg"></a></i>

           

            <p>我的个人博客总共展示了三个版本，界面也经历了由“简单”到“复杂”再到“简单”，颜色从“色泽单一”到“五彩斑斓”再到“局部点缀”的过程。原来一年一个版本！而每次改版的契机都是被百度惩罚！界面不要频繁更换！好好检查代码，有没有冗余、结构有没有不合理的地方。</p>

            <span><a href="/">网易博客</a><a href="/">日记</a></span> </li>

          <li><h2><a href="/">请不要在设计这条路上徘徊啦</a></h2> <i><a href="/"><img src="images/pic06.jpg"></a></i>

            

            <p>我整理了一下网友给我的来信，如果你还在踌躇不前，不妨来看看，到底要不要坚持下去！我也欢迎大家给我来信，希望能帮到更多人。</p>

            <span><a href="/">个人博客</a><a href="/">朋友</a><a href="/">设计</a></span> </li>

          <li><h2><a href="/">制作个人博客，我是这么收费的？</a></h2> <i><a href="/"><img src="images/pic07.jpg"></a></i>

            

            <p>有人会以为我是"高冷型"，no，错了，我是"好好型"的，从合作开始，我们之间的关系也不仅仅只有交易，在我看来，我们会是朋友。有些微信加了很久的网友，哪怕一句话也没说过，只要我们没有互相拉黑，有时间的见证，我们亦是朋友。</p>

            <span><a href="/">个人博客</a><a href="/">朋友</a><a href="/">收费</a></span> </li>

        </ul>

      </div>

      <div class="pagelist"><a title="Total record">&nbsp;<b>51</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a href="/">2</a>&nbsp;<a href="/">3</a>&nbsp;<a href="/">4</a>&nbsp;<a href="/">5</a>&nbsp;<a href="/">下一页</a>&nbsp;<a href="/">尾页</a></div>

    </div>

  </div>

  <aside class="side-section right-box">

    <div class="whitebg tuijian">

      <h2 class="side-title">站长推荐</h2>

      <section class="topnews imgscale"><a href="/xd/23.html"><img src="images/pic03.jpg"><span>作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</span></a></section>

      <ul>

        <li><a href="/" title="双十一，阿里云特惠活动，快来领券啦" target="_blank"><i><img src="images/pic05.jpg"></i>

          <p>双十一，阿里云特惠活动，快来领券啦</p>

          </a></li>

        <li><a href="/" title="第二届 优秀个人博客模板比赛参选活动" target="_blank"><i><img src="images/pic06.jpg"></i>

          <p>第二届 优秀个人博客模板比赛参选活动</p>

          </a></li>

        <li><a href="/" title="为什么说10月24日是程序员的节日？" target="_blank"><i><img src="images/pic07.jpg"></i>

          <p>为什么说10月24日是程序员的节日？</p>

          </a></li>

        <li><a href="/" title="十条设计原则教你学会如何设计网页布局!" target="_blank"><i><img src="images/pic03.jpg"></i>

          <p>十条设计原则教你学会如何设计网页布局!</p>

          </a></li>

        <li><a href="/" title="【个人博客空间申请】金牛云服，免费领空间啦" target="_blank"><i><img src="images/pic04.jpg"></i>

          <p>【个人博客空间申请】金牛云服，免费领空间啦</p>

          </a></li>

      </ul>

    </div>

    <div class="blank clear" ></div>

    <div class="whitebg paihang">

      <h2 class="side-title">点击排行</h2>

      <section class="topnews imgscale"><a href="/"><img src="images/pic06.jpg"><span>作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</span></a></section>

      <ul>

        <li><i></i><a href="/" title="个人博客，属于我的小世界！" target="_blank">个人博客，属于我的小世界！</a></li>

        <li><i></i><a href="/" title="安静地做一个爱设计的女子" target="_blank">安静地做一个爱设计的女子</a></li>

        <li><i></i><a href="/" title="制作个人博客，我是这么收费的？" target="_blank">制作个人博客，我是这么收费的？</a></li>

        <li><i></i><a href="/" title="个人博客，我为什么要用帝国cms？" target="_blank">个人博客，我为什么要用帝国cms？</a></li>

        <li><i></i><a href="/" title="网易博客关闭，何不从此开始潇洒行走江湖！" target="_blank">网易博客关闭，何不从此开始潇洒行走江湖！</a></li>

        <li><i></i><a href="/" title="【告别2018】耕耘才有所得，付出才有收获" target="_blank">【告别2018】耕耘才有所得，付出才有收获</a></li>

        <li><i></i><a href="/" title="张建华 一个90后年轻站长！我们是对手亦是朋友！" target="_blank">张建华 一个90后年轻站长！我们是对手亦是朋友！</a></li>

        <li><i></i><a href="/" title="个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。" target="_blank">个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</a></li>

      </ul>

    </div>

    <div class="blank clear" ></div>

    <div class="whitebg cloud">

      <h2 class="side-title">标签云</h2>

      <ul>

        <a href="/" target="_blank">打开</a> <a href="/" target="_blank">链接</a> <a href="/" target="_blank">程序安装</a> <a href="/" target="_blank">站内搜索</a> <a href="/" target="_blank">静态模板</a> <a href="/" target="_blank">查询</a> <a href="/" target="_blank">赛跑</a> <a href="/" target="_blank">google</a> <a href="/" target="_blank">css3背景</a> <a href="/" target="_blank">搭配</a> <a href="/" target="_blank">固定</a> <a href="/" target="_blank">asp</a> <a href="/" target="_blank">background-size</a> <a href="/" target="_blank">IP</a> <a href="/" target="_blank">花</a> <a href="/" target="_blank">繁花</a> <a href="/" target="_blank">倒计时</a> <a href="/" target="_blank">配色</a> <a href="/" target="_blank">个人建站空间</a> <a href="/" target="_blank">职业生涯</a>

      </ul>

    </div>

    <div class="ad ad-small">小图广告（320*140）</div>

    <div class="whitebg suiji">

      <h2 class="side-title">猜你喜欢</h2>

      <ul>

        <li><a target="_blank" href="/">安静地做一个爱设计的女子</a></li>

        <li><a target="_blank" href="/">网易博客关闭，何不从此开始潇洒行走江湖！</a></li>

        <li><a target="_blank" href="/">【排名技术建站】杨青助你快速实现主站为核心的搜索排名霸屏</a></li>

        <li><a target="_blank" href="/">个人博客，我为什么要用帝国cms？</a></li>

        <li><a target="_blank" href="/">个人博客，属于我的小世界！</a></li>

        <li><a target="_blank" href="/">蓝色企业网站模板超实用，完美符合SEO优化，适合企业公司建站的模板</a></li>

        <li><a target="_blank" href="/">制作个人博客，我是这么收费的？</a></li>

        <li><a target="_blank" href="/">【告别2018】耕耘才有所得，付出才有收获</a></li>

        <li><a target="_blank" href="/">帝国cms结合项如何实现多条件查询</a></li>

        <li><a target="_blank" href="/">华仔seo 一个专业网站优化的站长展示技能的平台</a></li>

        <li><a target="_blank" href="/">帝国CMS灵动标签调用昨天、今天、某天及以前以后等特定时间发布的文章</a></li>

      </ul>

    </div>

  </aside>

</article>

<div class="clear blank"></div>

<footer>

  <div class="footer box">

    <div class="wxbox">

      <ul>

        <li><img src="images/wxgzh.jpg"><span>微信公众号</span></li>

        <li><img src="images/wx.png"><span>我的微信</span></li>

      </ul>

    </div>

    <div class="endnav">

      <p><b>站点声明：</b></p>

      <p>1、本站个人博客模板，均为杨青青本人设计，个人可以使用，但是未经许可不得用于任何商业目的。</p>

      <p>2、所有文章未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：<a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=HHh9cn95b3F1cHVye1xtbTJ-c3E" target="_blank">88888@qq.com</a></p>

      <p>Copyright ©  All Rights Reserved. 备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">蜀ICP备11002373号-1</a> <a href="" target="_blank">网站地图</a></p>

    </div>

  </div>

</footer>

<div class="toolbar-open"></div>

<div class="toolbar">

  <div class="toolbar-close"><span id="closed"></span></div>

  <div class="toolbar-nav">

    <ul id="toolbar-menu">

      <li><i class="side-icon-user"></i>

        <section>

          <div class="userinfo">

            <form name=login method=post action="[!--news.url--]e/member/doaction.php">

              <input type=hidden name=enews value=login>

              <input type=hidden name=ecmsfrom value=9>

              <input name="username" type="text" class="inputText" size="16" placeholder="用户名"/>

              <input name="password" type="password" class="inputText" size="16" placeholder="密码"/>

              <input type="submit" name="Submit" value="登陆" class="inputsub-dl" />

              <a href="[!--news.url--]e/member/register/index.php?tobind=0&groupid=1" class="inputsub-zc">注册</a>

            </form>

            <!--登陆后状态--> 

            <!--<div class="clear"></div>

              <div class="logged">

                <b>XXX管理员，您好！</b> <a href="[!--news.url--]e/member/cp/" target="_parent">会员中心</a> <a href="[!--news.url--]e/member/doaction.php?enews=exit&ecmsfrom=9" onclick="return confirm('确认要退出?');">退出</a>

              </div>--> 

          </div>

        </section>

      </li>

      <li><i class="side-icon-qq"></i>

        <section class="qq-section">

          <div class="qqinfo"><a href="https://jq.qq.com/?_wv=1027&k=5EH6xZg">前端设计交流群①</a><a href="https://jq.qq.com/?_wv=1027&k=52fM36y">前端设计交流群②</a><a href="http://wpa.qq.com/msgrd?v=3&uin=476847113&site=qq&menu=yes">站长QQ</a></div>

        </section>

      </li>

      <li><i class="side-icon-weixin"></i>

        <section class="weixin-section">

          <div class="weixin-info">

            <p>个人微信扫码</p>

            <img src="images/wx.png">

            <p class="text12">工作时间</p>

            <p class="text12">周一至周日 9:00-21:00</p>

          </div>

        </section>

      </li>

      <li><i class="side-icon-dashang"></i>

        <section class="dashang-section">

          <p>如果你觉得本站很棒，可以通过扫码支付打赏哦！</p>

          <ul>

            <li><img src="images/weipayimg.jpg">微信收款码</li>

            <li><img src="images/alipayimg.jpg">支付宝收款码</li>

          </ul>

        </section>

      </li>

    

    </ul>

  </div>

</div>

<div class="endmenu">

<ul>

<li><a href="index.ftl"><i class="iconfont icon-shouye"></i>首页</a></li>

<li><a href="phone-fenlei.html"><i class="iconfont icon-fenlei"></i>分类</a></li>

<li><a href="phone-list.html"><i class="iconfont icon-navicon-wzgl"></i>所有</a></li>

<li><a href="phone-user.html"><i class="iconfont icon-My"></i>我的</a></li>

</ul>

</div>

<a href="#" title="返回顶部" class="icon-top"></a>

</body>

</html>