<!DOCTYPE html>

<html>

<head>

<meta charset="utf-8">

<title>XXX_排名技术建站_网站模板设计_个人网站制作_企业网站制作</title>

<meta name="keywords" content="XXX,排名技术建站,网站模板设计,个人网站制作,企业网站制作" />

<meta name="description" content="XXX,如何建立个人网站制作_企业网站建设方案_独立个人博客模板源码程序下载哪个比较好_SEO排名技术建站cms系统制作企业网站个人网站价格_个人博客网站制作视频教学快速建站" />

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="css/base.css" rel="stylesheet">

<link href="css/m.css" rel="stylesheet">

<script src="js/jquery-1.8.3.min.js" ></script>

<script src="js/hc-sticky.js"></script>

<script src="js/aside-sticky.js"></script>

<script src="js/main.js"></script>

<script src="js/side-tab.js"></script>

<!--[if lt IE 9]>

<script src="js/modernizr.js"></script>

<![endif]-->

</head>

<body>

<header>

  <div class="logo-section box">

    <div class="search">

      <form action="/e/search/index.php" method="post" name="searchform" id="searchform">

        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">

        <input name="show" value="title" type="hidden">

        <input name="tempid" value="1" type="hidden">

        <input name="tbname" value="news" type="hidden">

        <input name="Submit" class="input_submit" value="搜索" type="submit">

      </form>

    </div>

    <div class="logo"><a href="#"><img src="images/logo.png">

      <h2 class="logo-title">XXX</h2>

      <p class="logo-text">排名技术建站，让你对手追赶</p>

      </a> </div>

  </div>

  <div class="clear"></div>

  <div class="topnav">

    <h2>XXX</h2>

    <nav>

      <ul id="starlist">

        <li><a href="index.ftl">网站首页</a></li>

        <li class="menu"><a href="blog-list.html">新闻资讯</a>

          <ul class="sub">

            <li><a href="blog-list.html">资讯列表</a></li>

            <li><a href="blog-view.html">资讯内容</a></li>

          </ul>

          <span></span></li>

        <li class="menu"><a href="down-list.html">资源分享</a>

          <ul class="sub">

            <li><a href="down-list.html">下载列表</a></li>

            <li><a href="down-view.html">下载内容</a></li>

          </ul>

          <span></span></li>

        <li class="menu"><a href="pic-fm.html">图片展示</a>

          <ul class="sub">

            <li><a href="pic-list.html">图片列表</a></li>

            <li><a href="pic-list-2.html">多图列表</a></li>

            <li><a href="pic-view.html">图片内容</a></li>

          </ul>

          <span></span></li>

        <li class="menu"><a href="shop-list.html">商城中心</a>

          <ul class="sub">

            <li><a href="shop-list.html">商城列表</a></li>

            <li><a href="shop-view.html">商品详情</a></li>

          </ul>

          <span></span></li>

        <li class="menu"><a href="video-fm.html">视频教程</a>

          <ul class="sub">

            <li><a href="video-list.html">视频列表</a></li>

            <li><a href="video-view.html">视频内容</a></li>

          </ul>

          <span></span></li>

        <li><a href="wenzi-list.html">文字列表</a></li>

        <li><a href="about.ftl">关于我们</a></li>

        <li><a href="page-contact.html">联系我们</a></li>

      </ul>

    </nav>

    <h2 id="mnavh"><span class="navicon"></span></h2>

  </div>

  <div class="is-search">

    <section><i></i>请输入关键字词</section>

  </div>

  <div class="search-page">

    <div class="go-left"></div>

    <div class="search">

      <form action="/e/search/index.php" method="post" name="searchform" id="searchform">

        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">

        <input name="show" value="title" type="hidden">

        <input name="tempid" value="1" type="hidden">

        <input name="tbname" value="news" type="hidden">

        <input name="Submit" class="input_submit" value="搜索" type="submit">

      </form>

    </div>

    <div class="clear"></div>

    <div class="hot-search">

      <p>热门搜索排行</p>

      <ul class="search-paihang">

        <li><a href="/"><i>1</i>帝国</a></li>

        <li><a href="/"><i>2</i>模板</a></li>

        <li><a href="/"><i>3</i>博客</a></li>

        <li><a href="/"><i>4</i>后台</a></li>

        <li><a href="/"><i>5</i>html</a></li>

        <li><a href="/"><i>6</i>绅士</a></li>

        <li><a href="/"><i>7</i>cms</a></li>

        <li><a href="/"><i>8</i>支持</a></li>

        <li><a href="/"><i>9</i>早安</a></li>

        <li><a href="/"><i>10</i>个人</a></li>

      </ul>

    </div>

    <div class="new-search">

      <p>最新搜索排行</p>

      <ul class="search-paihang">

        <li><a href=""><i>1</i>函数</a></li>

        <li><a href="/"><i>2</i>博客程序</a></li>

        <li><a href="/"><i>3</i>解析</a></li>

        <li><a href="/"><i>4</i>红色</a></li>

        <li><a href="/"><i>5</i>告别2018</a></li>

        <li><a href="/"><i>6</i>插件</a></li>

        <li><a href="/"><i>7</i>网页布局</a></li>

        <li><a href="/"><i>8</i>云服务器</a></li>

        <li><a href="/"><i>9</i>with love for you</a></li>

        <li><a href="/"><i>10</i>评论插件</a></li>

      </ul>

    </div>

  </div>

</header>

<div class="clear blank"></div>

<article>

  <div class="left-box">

    <div class="whitebg">

      <div class="news-title"><span class="weizhi">您现在的位置是：<a href="/">首页</a>><a href="/">图片内容页</a></span>

        <h2>图片列表</h2>

      </div>

      <div class="newstext-box">

        <h1 class="news-title-h1">做一时间的旅行者，追溯一个宛如凤凰涅槃的动人故事</h1>

        <div class="keywords"> <a href="/">时间</a><a href="/">旅行者</a><a href="/">故事</a> </div>

        <div class="picview-other"> <span class="po-from">XXX</span><span class="po-date">2019-4-23</span><span class="po-classname">个人博客</span><span class="po-view">4636</span> </div>

        <div class="smalltext"><i></i>每一套模板，我都是利用了一些碎片化的时间慢慢做的，前后大概持续了一周多的时间，因为每个人的逻辑思维方式不一样，我想要更简洁明了的代码，所以每一套模板我都是自己一个个用键盘敲出来的。 </div>

        <div class="newstext">

          <p>自从入了这行，很多人跟我说可以做网络教程，我也有考虑，但最终没有实现，因为我觉得在这个教程泛滥的时代，直接做一套免费的原创个人博客模板更为实在。每当看到自己喜欢的配色图片或者布局，惊艳的js或者css3效果的时候，就有了做模板的冲动。</p>

          <h2>个人博客模板</h2>

          <p>每一套模板，我都是利用了一些碎片化的时间慢慢做的，前后大概持续了一周多的时间，因为每个人的逻辑思维方式不一样，我想要更简洁明了的代码，所以每一套模板我都是自己一个个用键盘敲出来的。</p>

          <p><img alt="" src="images/917d732926d79cc2ae1012831ce51d1e.jpg"></p>

          <p>对于个人博客模板，我一直坚持这样一个原则，那就是不仅漂亮，而且代码要少！因为要做出精美的个人博客模板是需要大量的时间投入的，没有一个人可以轻而易举的搞定一套个人博客模板，尤其是针对性（或专业性）极强的模板，一份好的模板，要求其代码在精炼的同时还要漂亮，后期内容上了，还要利于网站收录。</p>

          <p>个人博客模板除了布局，颜色选择，图片修饰都是需要花时间和精力的，其实，制作博客模板最花时间的不是提炼代码，而是页面的排版设计，这里包含了多个方面，分别是排版、配色、图片，在处理这么多问题的同时还要求突出重点，确保每一页只有一个中心论点，这对于本身功底差的人来说是一件困难的事情！</p>

          <p><img alt="" src="images/3677b3c727d123133baea93a4852456b.jpg"></p>

          <p>很多人熬几个通宵，也还是做不出满意的作品，而我，对每一套个人博客模板，我都会经过反复的修改，测试兼容，寻找更简洁的写法。不是tu快，而是要更精美，实用！这也是为什么我设计的模板比较受欢迎的原因。好吧，我承认自己是个话唠，一开口就停不下来，但我更想说的是，只要你用的开心，就是我最大的收获！2018，杨青博客，原创个人博客模板，专业为你而来。</p>

          <p>关注杨青博客，更多精彩分享，敬请期待！</p>

        </div>

        <div class="diggit"><a href="JavaScript:makeRequest('http://www.adminbuy.cn/e/public/digg/?classid=3&amp;id=900&amp;dotop=1&amp;doajax=1&amp;ajaxarea=diggnum','EchoReturnedText','GET','');"> 很赞哦！ </a>(<b id="diggnum"><script type="text/javascript" src="other/?classid=3&amp;id=900&amp;down=5"></script></b>)</div>

        <div class="clear"></div>

        <div class="share"><img src="images/wxgzh.jpg">

          <div class="share-text">

            <p>扫描关注XXX微信公众号，第一时间获取网站模板更新动态</p>

            <p>转载请说明来源于"XXX排名建站"</p>

            <p>本文地址：<a href="http://www.adminbuy.cn/news/s/900.html" target="_blank">http://www.adminbuy.cn/news/s/900.html</a></p>

          </div>

        </div>

        <div class="clear"></div>

        <div class="info-pre-next">

          <ul>

            <li><a href="/"><i><em>上一篇</em><img src="images/pic02.jpg"></i>

              <h2>为什么说10月24日是程序员的节日？</h2>

              <p>不知道自己以后还能不能继续干这一行，结婚不到一年，也许某天开始会离开一两年，当再回来工作的时候，不知道是否能有单位再愿意聘请我，或者说自己能否再胜任这工作</p>

              </a></li>

            <li><a href="/"><i><em>下一篇</em><img src="images/pic03.jpg"></i>

              <h2>十条设计原则教你学会如何设计网页布局!</h2>

              <p>网页常见的布局有很多种,单列布局,多列布局.其中单列布局是国外很多网站比较常用的.咱们很多站长以及门户网站都使用的是是两列布局,很少用三列布局的.下面我来分享下我们常用的网页布局格式</p>

              </a></li>

          </ul>

        </div>

      </div>

    </div>

    <div class="clear blank"></div>

    <div class="otherlink whitebg">

      <div class="news-title">

        <h2>相关文章</h2>

      </div>

      <ul>

        <li><a target="_blank" href="http://www.adminbuy.cn/news/life/2018-06-17/873.html">安静地做一个爱设计的女子</a></li>

        <li><a target="_blank" href="http://www.adminbuy.cn/news/s/900.html">网易博客关闭，何不从此开始潇洒行走江湖！</a></li>

        <li><a target="_blank" href="http://www.adminbuy.cn/jstt/web/923.html">【排名技术建站】杨青助你快速实现主站为核心的搜索排名霸屏</a></li>

        <li><a target="_blank" href="http://www.adminbuy.cn/news/s/876.html">个人博客，我为什么要用帝国cms？</a></li>

        <li><a target="_blank" href="http://www.adminbuy.cn/news/life/2018-04-27/816.html">个人博客，属于我的小世界！</a></li>

        <li><a target="_blank" href="http://www.adminbuy.cn/qiyewangzhanmuban/963.html">蓝色企业网站模板超实用，完美符合SEO优化，适合企业公司建站的模板</a></li>

        <li><a target="_blank" href="http://www.adminbuy.cn/news/s/884.html">制作个人博客，我是这么收费的？</a></li>

        <li><a target="_blank" href="http://www.adminbuy.cn/news/s/944.html">【告别2018】耕耘才有所得，付出才有收获</a></li>

        <li><a target="_blank" href="http://www.adminbuy.cn/jstt/web/885.html">帝国cms结合项如何实现多条件查询</a></li>

        <li><a target="_blank" href="http://www.adminbuy.cn/jstt/web/919.html">帝国CMS灵动标签调用昨天、今天、某天及以前以后等特定时间发布的文章</a></li>

      </ul>

    </div>

    <div class="ad ad-big"> <a href="http://www.adminbuy.cn/jstt/web/945.html" target="_blank"><img src="images/8793672fca8dae2ce093aa46546f8e22.gif"></a> </div>

    <div class="pinglun-box whitebg">

      <div class="news-title">

        <h2>文章评论</h2>

      </div>

      <div class="pinglun">

        <div id="plpost">

          <p class="saying"><span><a href="/">共有5条评论</a></span>来说两句吧...</p>

          <input name="username" type="text"  class="pl-name" id="username" value="" size="16" placeholder="用户名">

          <input name="key" type="text"  class="pl-yzm" size="16" placeholder="验证码">

          <textarea name="saytext" rows="6" id="saytext"></textarea>

          <input name="imageField" type="submit" value="提交">

        </div>

      </div>

    </div>

  </div>

  <aside class="side-section right-box">

    <div class="side-tab">

      <ul id="sidetab">

        <li class="sidetab-current">站长推荐</li>

        <li>点击排行</li>

      </ul>

      <div id="sidetab-content">

        <section>

          <div class="tuijian">

            <section class="topnews imgscale"><a href="/xd/23.html"><img src="images/pic03.jpg"><span>作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</span></a></section>

            <ul>

              <li><a href="/" title="双十一，阿里云特惠活动，快来领券啦" target="_blank"><i><img src="images/pic05.jpg"></i>

                <p>双十一，阿里云特惠活动，快来领券啦</p>

                </a></li>

              <li><a href="/" title="第二届 优秀个人博客模板比赛参选活动" target="_blank"><i><img src="images/pic06.jpg"></i>

                <p>第二届 优秀个人博客模板比赛参选活动</p>

                </a></li>

              <li><a href="/" title="为什么说10月24日是程序员的节日？" target="_blank"><i><img src="images/pic07.jpg"></i>

                <p>为什么说10月24日是程序员的节日？</p>

                </a></li>

              <li><a href="/" title="十条设计原则教你学会如何设计网页布局!" target="_blank"><i><img src="images/pic03.jpg"></i>

                <p>十条设计原则教你学会如何设计网页布局!</p>

                </a></li>

              <li><a href="/" title="【个人博客空间申请】金牛云服，免费领空间啦" target="_blank"><i><img src="images/pic04.jpg"></i>

                <p>【个人博客空间申请】金牛云服，免费领空间啦</p>

                </a></li>

            </ul>

          </div>

        </section>

        <section>

          <div class="paihang">

            <section class="topnews imgscale"><a href="/xd/23.html"><img src="images/pic06.jpg"><span>作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</span></a></section>

            <ul>

              <li><i></i><a href="/" title="个人博客，属于我的小世界！" target="_blank">个人博客，属于我的小世界！</a></li>

              <li><i></i><a href="/" title="安静地做一个爱设计的女子" target="_blank">安静地做一个爱设计的女子</a></li>

              <li><i></i><a href="/" title="制作个人博客，我是这么收费的？" target="_blank">制作个人博客，我是这么收费的？</a></li>

              <li><i></i><a href="/" title="个人博客，我为什么要用帝国cms？" target="_blank">个人博客，我为什么要用帝国cms？</a></li>

              <li><i></i><a href="/" title="网易博客关闭，何不从此开始潇洒行走江湖！" target="_blank">网易博客关闭，何不从此开始潇洒行走江湖！</a></li>

              <li><i></i><a href="/" title="【告别2018】耕耘才有所得，付出才有收获" target="_blank">【告别2018】耕耘才有所得，付出才有收获</a></li>

              <li><i></i><a href="/" title="张建华 一个90后年轻站长！我们是对手亦是朋友！" target="_blank">张建华 一个90后年轻站长！我们是对手亦是朋友！</a></li>

              <li><i></i><a href="/" title="个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。" target="_blank">个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</a></li>

            </ul>

          </div>

        </section>

      </div>

    </div>

    <div class="ad ad-small">小图广告（320*140）</div>

    <div class="whitebg cloud">

      <h2 class="side-title">标签云</h2>

      <ul>

        <a href="/" target="_blank">打开</a> <a href="/" target="_blank">链接</a> <a href="/" target="_blank">程序安装</a> <a href="/" target="_blank">站内搜索</a> <a href="/" target="_blank">静态模板</a> <a href="/" target="_blank">查询</a> <a href="/" target="_blank">赛跑</a> <a href="/" target="_blank">google</a> <a href="/" target="_blank">css3背景</a> <a href="/" target="_blank">搭配</a> <a href="/" target="_blank">固定</a> <a href="/" target="_blank">asp</a> <a href="/" target="_blank">background-size</a> <a href="/" target="_blank">IP</a> <a href="/" target="_blank">花</a> <a href="/" target="_blank">繁花</a> <a href="/" target="_blank">倒计时</a> <a href="/" target="_blank">配色</a> <a href="/" target="_blank">个人建站空间</a> <a href="/" target="_blank">职业生涯</a>

      </ul>

    </div>

    <div class="clear blank"></div>

    <div class="whitebg suiji">

      <h2 class="side-title">猜你喜欢</h2>

      <ul>

        <li><a target="_blank" href="/">安静地做一个爱设计的女子</a></li>

        <li><a target="_blank" href="/">网易博客关闭，何不从此开始潇洒行走江湖！</a></li>

        <li><a target="_blank" href="/">【排名技术建站】杨青助你快速实现主站为核心的搜索排名霸屏</a></li>

        <li><a target="_blank" href="/">个人博客，我为什么要用帝国cms？</a></li>

        <li><a target="_blank" href="/">个人博客，属于我的小世界！</a></li>

        <li><a target="_blank" href="/">蓝色企业网站模板超实用，完美符合SEO优化，适合企业公司建站的模板</a></li>

        <li><a target="_blank" href="/">制作个人博客，我是这么收费的？</a></li>

        <li><a target="_blank" href="/">【告别2018】耕耘才有所得，付出才有收获</a></li>

        <li><a target="_blank" href="/">帝国cms结合项如何实现多条件查询</a></li>

        <li><a target="_blank" href="/">华仔seo 一个专业网站优化的站长展示技能的平台</a></li>

        <li><a target="_blank" href="/">帝国CMS灵动标签调用昨天、今天、某天及以前以后等特定时间发布的文章</a></li>

      </ul>

    </div>

  </aside>

</article>

<div class="clear blank"></div>

<footer>

  <div class="footer box">

    <div class="wxbox">

      <ul>

        <li><img src="images/wxgzh.jpg"><span>微信公众号</span></li>

        <li><img src="images/wx.png"><span>我的微信</span></li>

      </ul>

    </div>

    <div class="endnav">

      <p><b>站点声明：</b></p>

      <p>1、本站个人博客模板，均为杨青青本人设计，个人可以使用，但是未经许可不得用于任何商业目的。</p>

      <p>2、所有文章未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：<a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=HHh9cn95b3F1cHVye1xtbTJ-c3E" target="_blank">88888@qq.com</a></p>

      <p>Copyright ©  All Rights Reserved. 备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">蜀ICP备11002373号-1</a> <a href="" target="_blank">网站地图</a></p>

    </div>

  </div>

</footer>

<div class="toolbar-open"></div>

<div class="toolbar">

  <div class="toolbar-close"><span id="closed"></span></div>

  <div class="toolbar-nav">

    <ul id="toolbar-menu">

      <li><i class="side-icon-user"></i>

        <section>

          <div class="userinfo">

            <form name=login method=post action="[!--news.url--]e/member/doaction.php">

              <input type=hidden name=enews value=login>

              <input type=hidden name=ecmsfrom value=9>

              <input name="username" type="text" class="inputText" size="16" placeholder="用户名"/>

              <input name="password" type="password" class="inputText" size="16" placeholder="密码"/>

              <input type="submit" name="Submit" value="登陆" class="inputsub-dl" />

              <a href="[!--news.url--]e/member/register/index.php?tobind=0&groupid=1" class="inputsub-zc">注册</a>

            </form>

            <!--登陆后状态--> 

            <!--<div class="clear"></div>

              <div class="logged">

                <b>XXX管理员，您好！</b> <a href="[!--news.url--]e/member/cp/" target="_parent">会员中心</a> <a href="[!--news.url--]e/member/doaction.php?enews=exit&ecmsfrom=9" onclick="return confirm('确认要退出?');">退出</a>

              </div>--> 

          </div>

        </section>

      </li>

      <li><i class="side-icon-qq"></i>

        <section class="qq-section">

          <div class="qqinfo"><a href="https://jq.qq.com/?_wv=1027&k=5EH6xZg">前端设计交流群①</a><a href="https://jq.qq.com/?_wv=1027&k=52fM36y">前端设计交流群②</a><a href="http://wpa.qq.com/msgrd?v=3&uin=476847113&site=qq&menu=yes">站长QQ</a></div>

        </section>

      </li>

      <li><i class="side-icon-weixin"></i>

        <section class="weixin-section">

          <div class="weixin-info">

            <p>个人微信扫码</p>

            <img src="images/wx.png">

            <p class="text12">工作时间</p>

            <p class="text12">周一至周日 9:00-21:00</p>

          </div>

        </section>

      </li>

      <li><i class="side-icon-dashang"></i>

        <section class="dashang-section">

          <p>如果你觉得本站很棒，可以通过扫码支付打赏哦！</p>

          <ul>

            <li><img src="images/weipayimg.jpg">微信收款码</li>

            <li><img src="images/alipayimg.jpg">支付宝收款码</li>

          </ul>

        </section>

      </li>

    </ul>

  </div>

</div>

<div class="endmenu">

  <ul>

    <li><a href="index.ftl"><i class="iconfont icon-shouye"></i>首页</a></li>

    <li><a href="phone-fenlei.html"><i class="iconfont icon-fenlei"></i>分类</a></li>

    <li><a href="phone-list.html"><i class="iconfont icon-navicon-wzgl"></i>所有</a></li>

    <li><a href="phone-user.html"><i class="iconfont icon-My"></i>我的</a></li>

  </ul>

</div>

<a href="#" title="返回顶部" class="icon-top"></a>

</body>

</html>